


body{
    background-color: lightgray;
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.ice{
    font-size: 15px;

}
.top{
    font-size: 15px;
}
.contain{
    font-size: 15px;
}
